# AAP 2.7 containerized inventory (growth = single-node all-in-one)

[automationgateway]
{{ aap_hostname }}

[automationcontroller]
{{ aap_hostname }}

[automationhub]
{{ aap_hostname }}

[automationeda]
{{ aap_hostname }}

[automationmetrics]
{{ aap_hostname }}

[database]
{{ aap_hostname }}

[all:vars]
ansible_connection=local

# Common
postgresql_admin_username=postgres
postgresql_admin_password={{ new_install_password }}

registry_username={{ registry_username }}
registry_password={{ registry_password }}

redis_mode=standalone

# Gateway
gateway_admin_password={{ new_install_password }}
gateway_pg_host={{ aap_hostname }}
gateway_pg_password={{ new_install_password }}

# Controller
controller_admin_password={{ new_install_password }}
controller_pg_host={{ aap_hostname }}
controller_pg_password={{ new_install_password }}
controller_percent_memory_capacity=0.5

# Hub
hub_admin_password={{ new_install_password }}
hub_pg_host={{ aap_hostname }}
hub_pg_password={{ new_install_password }}
hub_seed_collections=false

# EDA
eda_admin_password={{ new_install_password }}
eda_pg_host={{ aap_hostname }}
eda_pg_password={{ new_install_password }}

# Automation Metrics (new required component in 2.7)
automationmetrics_pg_host={{ aap_hostname }}
automationmetrics_pg_password={{ new_install_password }}
automationmetrics_controller_read_pg_host={{ aap_hostname }}
automationmetrics_controller_read_pg_password={{ new_install_password }}

# Controller license + post-install config-as-code (Packer first-install only)
controller_license_file=/tmp/manifest_AAP_Demo.zip
controller_postinstall=true
controller_postinstall_repo_url=https://github.com/Hashi-RedHat-APJ-Collab/platform-aap-postinstall_repo.git
controller_postinstall_dir=/tmp/config_as_code/aap
controller_postinstall_repo_ref=main

# deploy remote execution nodes
#[execution_nodes]
#<fqdn_of_your_execution_host>
